body {
    font-family: "Roboto", sans-serif;
    color: #163152;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400
}

/* --------------- text size --------------- */

.f16-19 {
    font-size: 16px;
    line-height: 19px;
}

.f16-22 {
    font-size: 16px;
    line-height: 22px;
}

.f16-24 {
    font-size: 16px;
    line-height: 24px;
}

.f18-26 {
    font-size: 18px;
    line-height: 26px;
}

.f20-26 {
    font-size: 20px;
    line-height: 26px;
}

.f22-26 {
    font-size: 22px;
    line-height: 26px;
}

.f24-34 {
    font-size: 24px;
    line-height: 34px;
}

.f44-60 {
    font-size: 44px;
    line-height: 60px;
}

/* --------------- text decoration --------------- */

.ul-00C6BD {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #00C6BD;
    text-underline-offset: 22px;
}

.l-t {
    text-decoration: line-through;
}

.c-8693A4 {
    color: #8693A4;
}

.uc {
    text-transform: uppercase;
}

.t-c {
    text-align: center;
}

.fw4 {
    font-weight: 400;
}

.fw7 {
    font-weight: 700;
}

/* --------------- margin padding --------------- */

.mt3 {
    margin-top: 3px;
}

.ml40 {
    margin-left: 40px;
}

.mb14 {
    margin-bottom: 24px;
}

.pb4 {
    padding-bottom: 4px;
}