body {
    font-family: "Roboto", sans-serif;
    color: #163152;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;
}

a {
    color: #163152;
    text-decoration: none;
}

/* --------------- display --------------- */

.df {
    display: flex;
}

.fd-r {
    flex-direction: row;
}

.fd-c {
    flex-direction: column;
}

.jc-sb {
    justify-content: space-between;
}

/* --------------- text size --------------- */

.f10-12 {
    font-size: 10px;
    line-height: 12px;
}

.f16-19 {
    font-size: 16px;
    line-height: 19px;
}

.f16-22 {
    font-size: 16px;
    line-height: 22px;
}

.f16-24 {
    font-size: 16px;
    line-height: 24px;
}

.f18-26 {
    font-size: 18px;
    line-height: 26px;
}

.f20-26 {
    font-size: 20px;
    line-height: 26px;
}

.f22-26 {
    font-size: 22px;
    line-height: 26px;
}

.f24-34 {
    font-size: 24px;
    line-height: 34px;
}

.f44-60 {
    font-size: 44px;
    line-height: 60px;
}

/* --------------- text decoration --------------- */

.ul-00C6BD {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #00C6BD;
    text-underline-offset: 22px;
}

.l-t {
    text-decoration: line-through;
}

.c-8693A4 {
    color: #8693A4;
}

.uc {
    text-transform: uppercase;
}

.t-c {
    text-align: center;
}

.fw4 {
    font-weight: 400;
}

.fw7 {
    font-weight: 700;
}

/* --------------- margin padding --------------- */

.mt3 {
    margin-top: 3px;
}

.ml40 {
    margin-left: 40px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb55 {
    margin-bottom: 55px;
}

/* --------------- header --------------- */

header {
    width: 1170px;
    height: 144px;
    padding: 20px 55px;
    margin: 0 auto 40px auto;
}

header > div {
    height: 100%;
}

nav {
    width: 560px;
    margin: 0 40px 0 470px;
}

nav span {
    margin-block-start: auto;
    margin-block-end: auto;
}

.user {
    width: 36px;
}

/* --------------- main --------------- */

.main {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
}

/* --------------- article / hero --------------- */

.hero {
    height: 573px;
    margin-bottom: 120px;
}

.hero h1 {
    margin-top: 0;
    font-style: italic;
    margin-block-end: 40px;
}

.hero img {
    margin-bottom: 8px;
}

.article {
    width: 1030px;
}

.article-1 {
    height: 262px;
    margin: 0 auto 100px auto;
}

.article-2 {
    height: 252px;
    margin: 0 auto 120px auto;
}

.article-2 img,
.article-1 .text-block {
    order: -1;
    margin-right: 30px;
}

/* --------------- gallery --------------- */

.gallery {
    margin-bottom: 120px;
    height: 779px;
}

/* --------------- news / contact --------------- */

.news {
    width: 770px;
    height: 1349px;
    margin: 0 auto 120px auto;
}

.news h2 {
    margin-block-start: 0;
}

.news > article {
    height: 1260px;
}

.contacts h2 {
    margin-block-start: 0;
}

.contacts .text-block {
    order: 1;
    width: 400px;
    margin-left: auto;
}

/* --------------- footer --------------- */

.footer {
    padding: 60px 0;
    margin: 120px auto 0 auto;
}

.footer > div {
    width: 1280px;
    margin: 0 auto;
}

.footer-info {
    margin-left: 55px;
    width: 175px;
}

.footer-navigation-topics {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    margin-right: 55px;
    list-style: none;
}

.footer-navigation-topics > li {
    width: 165px;
}

.footer-navigation-topics > li:not(:last-child) {
    margin-right: 70px;
}

.footer-navigation-topics ul {
    list-style: none;
    padding-inline-start: 0;
}

.footer-navigation-topics h2 {
    margin-top: 0;
}